

.top-header {

position: relative;
 top: 0;
 left: 350px;
 height: 100%;
 width: 100%;
 background-color: pink;
 padding-top: 5px;
 padding-left: 5px;
 padding-bottom:5px;
 padding-right:5px;
 
}


.body-text{

 position: relative;
 background-color: pink;
 top: 0;
 left: 350px;
 height: 100%;
 width: 100%;
 padding-top: 40px;
 padding-left: 5px;
 padding-bottom:5px;
 padding-right:5px;
	

}

.body-text .p1 {


 text-align: left;	
 padding-top: 5px;
 padding-left: 5px;
 padding-bottom:5px;
 padding-right:5px;


}

.body-text .p2 {

 text-align:left;	
 padding-top: 5px;
 padding-left: 5px;
 padding-bottom:5px;
 padding-right:5px;
 


}

.body-text .p3 {

 text-align:left;
 padding-top: 5px;
 padding-left: 5px;
 padding-bottom:5px;
 padding-right:5px;



}


.body-text2{

 position: relative;
 background-color: pink;
 top: 0;
 left: 350px;
 height: 100%;
 width: 100%;
 padding-top: 40px;
 padding-left: 5px;
 padding-bottom:5px;
 padding-right:5px;
	

}

.body-text2 .p1 {

 
 text-align: left;	
 padding-top: 5px;
 padding-left: 5px;
 padding-bottom:5px;
 padding-right:5px;
  

}

.body-text2 .p2 {

 text-align:left;	
 padding-top: 5px;
 padding-left: 5px;
 padding-bottom:5px;
 padding-right:5px;
 


}

.body-text2 .p3 {

 text-align:left;
 padding-top: 5px;
 padding-left: 5px;
 padding-bottom:5px;
 padding-right:5px;



}

body {
	height:100%;
	width:800px;
	background-color: #F7A8B8;
	font-family: Arial, Helvetica, sans-serif;
}

.media-box {

float: left;
height:300px;
width:200px;

padding-right:10px;
padding-left: 10px;
padding-bottom:10px;
padding-right:10px;
}

.media-box .item1 {

 
 background-color: pink;
 
 
}

.media-box2 {

float: right;
height:500px;
width:200px;

padding-right:10px;
padding-left: 10px;
padding-bottom:10px;
padding-right:10px;
}

.media-box2 .item1 {

 
 background-color: pink;
 
 
}

.navleft {

position: fixed;
height: 100%;
width: 150px;
top: 0;
left: 0;
padding-top: 10px;
background-color: pink;


}

.navright {

position: fixed;
height: 100%;
width: 150px;
top: 0;
right: 0;
padding-top: 10px;
background-color: pink;


}


.nobull {

list-style: none;

}




a:link {
  text-decoration: none;
  color: #B85FB8;
}
a:visited {
  color: #B85FB8:;
}

a:hover {
  color: #B85FB8;

}

a:active {
  color: #B85FB8;
}