.top-header {
 background-color: pink;
 font-family: Georgia, serif;
}

.body-text {

 background-color: pink;
 font-family: Georgia, serif;
 font-size: 18px;
 letter-spacing: 1px;
 word-spacing: 1px;
 color: #000000;
 font-weight: normal;
 text-decoration: none;
 font-style: normal;
 font-variant: normal;
 text-transform: none;

}

body {
  background-color: powderblue;
}
