@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

a{
    
    color: rgb(255, 212, 255);
    font-size: 28px;
    font-family:'Russo One', sans-serif;
    text-decoration:none;
    

}

ul{
    list-style-type: none;
}

body{
    
    font-size: 48px;
    font-family:'Russo One', sans-serif;
    line-height:1.5;
    color:rgb(91, 255, 255);
    background: rgb(43, 19, 58);
    
}



