@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
* {
margin:0;
padding:0;
box-sizing:border-box;
background: rgb(43, 19, 58);

}

header.title{
    
    padding-top: 0.4rem;
    display: flex;
    align-items: flex-start;
    justify-content:center;
    
   
    
}

h1.blue{

    color:rgb(91, 255, 255);
    font-family:'Libre Barcode 39 Text', sans-serif;
    font-size:4rem;
    
    

}

h1.white{

    color:azure;
    font-family:'Libre Barcode 39 Text', sans-serif;
    font-size:4rem;
    padding-top: 0.2em;

}


body{
    font-size:1rem;
    font-family:'Russo One', sans-serif;
    line-height:1.5;
    color:rgb(91, 255, 255);
    background: rgb(43, 19, 58);
    
    
    
}


.lucycontainer{

    display:flex;
    align-items:center;
    justify-content:center;



}

#lucy{

    border:0.1rem solid rgb(91, 255, 255);
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;


}

a{
    
    color: rgb(255, 212, 255);
    font-family:'Russo One', sans-serif;
}

a:hover{

    color:rgb(162, 255, 162);
    /*border:0.5rem solid rgb(162, 255, 162);*/
    border-radius: 0.5rem;
}

nav{

    display: flex;
    align-items: center;
    justify-content: space-around;
    
   
    
}

.nav__links{

    list-style-type: none;
    
    
}


.nav__links, li{

    display: inline-block;
}

.nav__links, li, a{

font-size: 1rem;
text-decoration:none;
padding: 0.5rem;


}

/*footer{

} */







